@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Press+Start+2P&display=swap");
@import "tailwindcss";
@theme {
  --font-press-start: "Press Start 2P", system-ui; 
  --font-code: "M PLUS Code Latin", monospace;
  --default-font-family: "M PLUS Code Latin", monospace;
}